[submodule "LightGlue-ONNX-Jetson"]
	path = LightGlue-ONNX-Jetson
	url = https://github.com/limshoonkit/LightGlue-ONNX-Jetson
[submodule "DL-VINS/Third_Party/ceres"]
	path = DL-VINS/Third_Party/ceres
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "DL-VINS/Third_Party/TensorRT"]
	path = DL-VINS/Third_Party/TensorRT
	url = https://github.com/NVIDIA/TensorRT.git
[submodule "DL-VINS/Third_Party/opencv"]
	path = DL-VINS/Third_Party/opencv
	url = https://github.com/opencv/opencv.git
[submodule "DL-VINS/Third_Party/opencv_contrib"]
	path = DL-VINS/Third_Party/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
	branch = 4.x
[submodule "DL-VINS/src/vision_opencv"]
	path = DL-VINS/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
	branch = humble
[submodule "AnyLoc"]
	path = AnyLoc
	url = https://github.com/limshoonkit/AnyLoc.git
